.coach{
    &__list{
        text-align: left;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


    &__item{
        width: 320px;
        height: 380px;
        display: inline-block;
        background: $light-gray2;
        padding: 4px;
        color: black;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(3n){
            margin-right: 0px;
        }
        

        &:hover{
            background: $red;
            color: white;
        }

        &__img{
            width: 310px;
            height: 280px;
            display: block;
            overflow: hidden;
            margin-bottom: 20px;
        }

        &__description{
            font-family: $panton;
            font-size: 20px;
            font-weight: 900;
            line-height: 20px;
            text-transform: uppercase;

            &-small{
                font-size: 13px;
                font-family: $roboto;
                font-weight: 700;
                line-height: 20px;
                text-transform: none;
                display: block;
            }
        }
    }

    &__detail{
        font-family: $roboto;

        h1{
            color: $black;
            font-family: $panton;
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            text-align: left;
        }

        h2{
            color: $black;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.52px;
            text-align: left;
        }

        &__content{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
            margin-top: 20px;

            &-left{
                width: 320px;
                flex-basis: 320px;
                flex-shrink: 0;
                overflow: hidden;
            }

            &-right{
                padding-left: 30px;
            }
        }

        &__photo{
            display: inline-block;
            padding: 4px;
            background: $light-gray2;

            img{
                display: block;
            }

        }

        &__gallery{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            &__item{
                display: inline-block;
                border: 4px solid $light-gray2;

                &:hover{
                    border: 4px solid $blue;
                }

                img{
                    display: block;
                }
            }
        }
    }


}