.header{

    &__title{
        @include centered;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 120px;

        @include media(phone){
            height: auto;
            flex-direction: column;

        }

        &__text{
            color: $red;
            font-family: $panton;
            font-size: 40px;
            font-weight: 300;
            line-height: 35px;
            text-transform: uppercase;


            @include media(phone){
                font-size: 20px;
                margin: 7px 0;
            }
        }

        &__img{
            @include media(phone){
                img{
                    width: 50px;
                }
            }
        }
    }
}