{% extends "base.html" %}
{% load thumbnail %}


{% block meta %}
    <title>{{ person.meta_title }}</title>
    <meta name="description" content="{{ person.meta_description }}">
{% endblock %}


{% block content %}
<section class="news__main">
    <div class="title title-center">{{ person.title }}</div>
    <div class="news__detail">
        <h1>{{ blog_post.title|upper }}</h1>
        <div class="news__detail__text">
            {{ person.content|safe }}
        </div>

        {% if person.gallery %}
            <div class="news__detail__gallery">
                {% for image in person.gallery.images.all|slice:":6" %}
                <div class="news__detail__gallery__item">
                    {% thumbnail image.file "140x90" crop="center" as thumb %}
                    <img src="{{ thumb.url }}">
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}