{% extends "base.html" %}
{% load thumbnail %}


{% block meta %}
    <title>{{ person.meta_title }}</title>
    <meta name="description" content="{{ person.meta_description }}">
{% endblock %}


{% block content %}
<section class="news__main">
    <div class="title title-center">Тренеры</div>
    <div class="coach__detail">
        <h1>{{ person.title }}</h1>
        <h2>{{ person.rank.name }}</h2>
        <div class="coach__detail__content">
            <div class="coach__detail__content-left">
                <div class="coach__detail__photo">
                    {% thumbnail person.photo "310x370" crop="center" as thumb %}
                    <img src="{{ thumb.url }}">
                </div>
            </div>
            <div class="coach__detail__content-right">
                {{person.content | safe}}
            </div>
        </div>
        {% if person.gallery %}
            <div class="coach__detail__gallery js-slider-preson-detail">
                {% for image in person.gallery.images.all %}
                <span>
                    <a class="coach__detail__gallery__item fancybox" data-fancybox="gallery" href="{{ image.file.url }}">
                        {% thumbnail image.file "140x90" crop="center" as thumb %}
                        <img src="{{ thumb.url }}">
                    </a>
                </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}