{% extends "base.html" %}

{% load static thumbnail %}

{% block content %}
<section class="news__main">
    <div class="title title-center">{{ page.title }}</div>
    <div class="news__list">
        {% for person in person_list %}
            <div class="news__item news__item-vertical" href="{{ person.get_absolute_url }}">
                {% thumbnail person.photo "320x280" crop="center" as thumb %}
                <img src="{{ thumb.url }}">
                <div class="news__description news__description-red news__description_text-center">
                    <span class="news__description__title">
                        <a href="{% url "person_detail" slug=person.slug %}">{{ person.title }}</a>
                    </span>
                    <span class="news__description__description">{{ text|default:person.rank.name }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

