.news{
    &__main{
        @include centered();
        margin-bottom: 50px;
        margin-top: 40px;
        text-align: center;
    }

}

.main{

    &__about{
        @include centered();
        margin-bottom: 50px;

        @include media(phone){
            margin: 0;
        }

        &__text{
            margin-left: 360px;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;

            @include media(phone){
                margin: 0;
            }
        }
    }
}