<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Федерация самбо Кировской области</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <base href="/">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bundle.js"></script>
</head>
<body>
    <div class="layout">
        <header class="header">
            <div class="header__title">
                <div class="header__title__text">федерация самбо</div>
                <div class="header__title__img">
                    <a href="/">
                        <img src="../images/logo-top.png" alt="">
                    </a>
                </div>
                <div class="header__title__text">кировской области</div>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list__item"><a class="_active" href="#">Главная</a></li>
                    <li class="menu__list__item"><a href="#">Новости</a></li>
                    <li class="menu__list__item"><a href="#">Тренеры</a></li>
                    <li class="menu__list__item"><a href="#">Залы</a></li>
                    <li class="menu__list__item"><a href="#">Спортсмены</a></li>
                    <li class="menu__list__item"><a href="#">Календарь</a></li>
                    <li class="menu__list__item"><a href="#">Медиа</a></li>
                    <li class="menu__list__item"><a href="#">История</a></li>
                    <li class="menu__list__item"><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </header>
        <div class="page-body">
            <section class="news__main">
                <div class="title title-center">Новости</div>
                <div class="news__list">
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов. Соревнования проходили между спортсменами 2000-1994 года</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов.</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов. Соревнования проходили между спортсменами 2000-1994 года</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов.</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов. Соревнования проходили между спортсменами 2000-1994 года</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                            <span class="news__title__description">
                                <p>12 марта 2017 года</p>
                                <p>Н.Э.Баумана состоялся по борьбе САМБО, в котором активное участие приняли более 20 борцов мифистов.</p>
                            </span>
                        </span>
                    </a>
                    <a class="news__item" href="#">
                        <img src="../images/temp/news1.png" alt="">
                        <span class="news__title">
                            Сергей Елисеев с визитом в Кемеровскую область
                        </span>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <footer class="footer">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list__item"><a class="_active" href="#">Главная</a></li>
                <li class="menu__list__item"><a href="#">Новости</a></li>
                <li class="menu__list__item"><a href="#">Тренеры</a></li>
                <li class="menu__list__item"><a href="#">Залы</a></li>
                <li class="menu__list__item"><a href="#">Спортсмены</a></li>
                <li class="menu__list__item"><a href="#">Календарь</a></li>
                <li class="menu__list__item"><a href="#">Медиа</a></li>
                <li class="menu__list__item"><a href="#">История</a></li>
                <li class="menu__list__item"><a href="#">Контакты</a></li>
            </ul>
        </nav>

        <div class="footer__info">
            <div class="footer__info__logo">
                <img src="../images/logo-top.png" alt="">
            </div>
            <div class="footer__info__fill">
                <div class="footer__info__contacts">
                    г.Киров, ул. Московская, д. 1 В
                    +7(8332) 64-85-11
                    <a href="mailto:barminkirov@mail.ru">barminkirov@mail.ru</a>
                </div>
            </div>
            <div class="footer__info__copyright">
                <a href="#">Разработка сайта - «с божьей помощью»</a>
            </div>
        </div>
    </footer>
</body>
</html>
