{% extends "base.html" %}

{% load static blog_tags thumbnail %}


{% block content %}
    <section class="slider-main">
        <div class="slider-main__list">
            {% for slide in page.homepage.slider %}
                {% if slide.link %}<a href="{{ slide.link }}">{% endif %}
                <img src="{{ slide.image.url }}" alt="" class="slider-main__item">
                {% if slide.link %}</a>{% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="news__main">
        <div class="title title-center">Новости</div>
        <div class="news__list">
            {% blog_recent_posts 3 as recent_posts %}

            {% include "blog/recent_posts.html" with posts=recent_posts %}
        </div>
    </section>
    <section class="main__about">
        <div class="news__left">

            {% with person=page.homepage.person text=page.homepage.person_text date=page.homepage.person_date %}
                {% if person %}
                    <a class="news__item news__item-vertical" href="{% url "person_detail" slug=person.slug %}">
                        <img src="{% thumbnail person.photo "320x291" crop="center" %}" alt="{{ person.title }}">
                        <div class="news__description news__description-red news__description_text-center">
                            <span class="news__description__title"  >{{ person.title }}</span>
                            <span class="news__description__description">{{ text|default:person.rank.name }}</span>
                            <span class="news__description__date">{{ date|date:"d.m.Y" }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endwith %}
        </div>
        <div class="main__about__text">
            <h1 class="title title-left">{{ page.homepage.content_title }}</h1>
            {{ page.homepage.content|safe }}
        </div>
    </section>
{% endblock content %}