{% extends "base.html" %}

{% load static blog_tags thumbnail pages_tags %}

{% block content %}
<section class="news__main">
    <div class="title title-center">Фото</div>

    <div class="photo__list">
        <h1>{{ gallery.title }}</h1>
        <div class="news__detail__date photo__list__date">{{ gallery.publish_date|date:"d E Y года" }}</div>

        {% for image in gallery.images.all %}
        <a class="photo__item fancybox" data-fancybox="gallery" href="{{ image.file.url }}">
            {% thumbnail image.file "230x230" crop="center" as thumb %}
            <img src="{{ thumb.url }}">
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}

