{% extends "base.html" %}

{% load static blog_tags pages_tags %}

{% block content %}
<section class="news__main">
    <div class="title title-center">{{ page.title }}</div>
    <div class="news__detail">
        <div class="news__detail__text">
            {{ page.richtextpage.content|safe }}
            {% page_menu page "pages/menus/sub_menu.html" %}
        </div>
    </div>

    <div class="news__list">
        {% blog_recent_posts 3 as recent_posts %}

        {% include "blog/recent_posts.html" with posts=recent_posts %}
    </div>
</section>
{% endblock %}

