{% extends "base.html" %}
{% load thumbnail %}


{% block meta %}
    <title>{{ hall.meta_title }}</title>
    <meta name="description" content="{{ hall.meta_description }}">
{% endblock %}


{% block content %}
<section class="news__main">
    <div class="title title-center">Залы</div>
    <div class="news__detail">
        <h1>{{ hall.title|upper }}</h1>
        <div class="news__detail__date">{{ hall.address }}</div>
        <div class="image">
            {% thumbnail hall.photo "1000x300" crop="center" upscale as thumb %}
            <img src="{{ thumb.url }}">
        </div>
        {% if hall.gallery %}
            <div class="news__detail__gallery">
                {% for image in hall.gallery.images.all|slice:":6" %}
                <div class="news__detail__gallery__item">
                    {% thumbnail image.file "140x90" crop="center" as thumb %}
                    <img src="{{ thumb.url }}">
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="news__detail__text">
            {{ hall.content|safe }}
        </div>

    {% if hall_pos %}
    <div id="map"></div>
    {% endif %}
    </div>
</section>
    <style>
        #map {
            width: 100%; height: 300px; padding: 0; margin: 0;
        }
    </style>

    {% if hall_pos %}
        <script>
        ymaps.ready(function () {
            var hallMap = new ymaps.Map('map', {
                    center: ["{{ hall_pos.0 }}", "{{ hall_pos.1 }}"],
                    zoom: 12
                }, {
                    searchControlProvider: 'yandex#search'
                }),

                hallPlacemark = new ymaps.Placemark(hallMap.getCenter(), {
                    balloonContent: '{{ hall.title }}'
                });

            hallMap.geoObjects
                .add(hallPlacemark)
        });
        </script>
    {% endif %}
{% endblock %}