@font-face {
    font-family: Panton;
    src: url('../../fonts/Panton.otf');
}


@font-face {
    font-family: Panton;
    src: url('../../fonts/PantonExtraBold.otf');
    font-weight: 900;
}


@font-face {
    font-family: Roboto;
    src: url('../../fonts/roboto.ttf');
}

