@mixin clearfix {
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}

@mixin visuallyhidden() {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

@mixin centered{
    width: 1000px;
    display: block;
    margin: 0 auto;
}