//Fonts
$panton: 'Panton';
$roboto: 'Roboto';

// Transition
$t: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);

//Colors
$red: #ff3131;
$yellow: #ffde00;
$blue: #114bc1;
$blue-opacity: rgba(17, 75, 193, 0.7);
$white-opacity: rgba(255, 255, 255, 0.9);
$light-gray: #d0d0d0;
$light-gray2: #eaeaea;
$blue2: #104ac1;
$black-gray: #545454;