{% extends "base.html" %}
{% load static mezzanine_tags %}



{% block meta %}
    <title>{{ blog_post.meta_title }}</title>
    <meta name="description" content="{{ blog_post.description }}">
{% endblock %}


{% block content %}
<section class="news__main">
    <div class="title title-center">Новости</div>
    <div class="news__detail">
        <h1>{{ blog_post.title|upper }}</h1>
        <div class="news__detail__date">{{ blog_post.publish_date|date:"d E Y года" }}</div>
        <div class="news__detail__text">
            {% if blog_post.featured_image %}
                <img src="{{ blog_post.featured_image.url }}">
            {% endif %}
            {{ blog_post.content|safe }}
        </div>

        <div class="news__detail__gallery">
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
            <div class="news__detail__gallery__item">
                <img src="../images/temp/news_detail_galery.png" alt="">
            </div>
        </div>

    </div>


    <div class="news__list">
        {% include "blog/recent_posts.html" with posts=blog_post.related_posts.all %}
    </div>
</section>
{% endblock %}
