{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}
<section class="news__main">
    <div class="title title-center">Новости</div>
    <div class="news__list">
        {% for blog_post in blog_posts.object_list %}
        <a class="news__item" href="{{ blog_post.get_absolute_url }}">
            {% if blog_post.featured_image %}
                {% thumbnail blog_post.featured_image "320x180" crop="center" as thumb %}
                <img src="{{ thumb.url }}">
            {% else %}
                <img src="{% static "images/post_no_image_320x180.png" %}">
            {% endif %}

            <span class="news__title">
                {{ blog_post.title }}
                <span class="news__title__description">
                    <p>{{ blog_post.publish_date|date:"d E Y года" }}</p>
                </span>
            </span>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}


{% block carousel %}
{% endblock %}