{% extends "base.html" %}
{% load static thumbnail %}



{% block meta %}
    <title>{{ blog_post.meta_title }}</title>
    <meta name="description" content="{{ blog_post.description }}">
{% endblock %}


{% block content %}
<section class="news__main">
    <div class="title title-center">Новости</div>
    <div class="news__detail">
        <h1>{{ blog_post.title|upper }}</h1>
        <div class="news__detail__date">{{ blog_post.publish_date|date:"d E Y года" }}</div>
        <div class="news__detail__text">
            {% if blog_post.featured_image %}
                <img src="{{ blog_post.featured_image.url }}">
            {% endif %}
            {{ blog_post.content|safe }}
        </div>

        {% if blog_post.gallery %}
        <div class="news__detail__gallery">
            {% for image in blog_post.gallery.images.all|slice:":6" %}
            <div class="news__detail__gallery__item">
                {% thumbnail image.file "140x90" crop="center" as thumb %}
                <img src="{{ thumb.url }}">
            </div>
            {% endfor %}
        <a href="{{ blog_post.gallery.get_absolute_url }}">Все изображения</a>
        </div>
        {% endif %}

    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
    </script>

    </div>


    <div class="news__list">
        {% include "blog/recent_posts.html" with posts=blog_post.related_posts.all %}
    </div>
</section>
{% endblock %}
